<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title_prefix %}{{ kotti_option('site_prefix') }} {% endblock %}{% block title %}{{ context is defined ? context.title : '' }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ context is defined and context.description ? context.description : kotti_option('site_description') }}{% endblock %}">

    {% block meta_extra %}{% endblock %}

    {% block stylesheets %}
        <!-- FIXME -->
        <style>
            body {
                min-height: 200px;
            }

            nav#nav-children {
                display: block;
                height: 100%;
                padding:0;
            }

            nav#nav-children ul {
                list-style:none;
            }

            nav#nav-children > ul {
                margin: 0;
                padding: 0;
            }
        </style>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    {% endblock %}

    {% block favicon %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% endblock %}

    {% block google_analytics %}
        {% include 'TruelabKottiFrontendBundle:Block:google_analytics.html.twig' %}
    {% endblock %}
</head>

<body class="{{ context is defined ? kotti_type_class(context) : '' }} {% block body_class %}{% endblock %}">

    {% import 'TruelabKottiFrontendBundle::macros.html.twig' as  kotti_macro %}

    {% block body %}{% endblock %}

    {% block javascripts %}{% endblock %}
</body>
</html>
